
html, body{
    min-height: 100vh;
}
body {
    background-image: url('../images/login.jpg');
 
    background-size: cover;    
    background-position: center;
    display: flex;
    flex-direction: column;
    gap:2em;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
form{
    width: 400px;
}
